<ion-header>
  <ion-toolbar>
    <ion-title>dateTime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
       <ion-item>
      <ion-label color="primary">
        Fecha actual
      </ion-label>
      <ion-datetime placeholder="Escoja la fecha" displayFormat="DDD  DD de MMM, YYYY" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" dayShortNames="Domingo, Lunes, Martes, Miércoles, Jueves, Viernes, Sábado"></ion-datetime>

    </ion-item>
  </ion-list>



</ion-content>
