
<app-header></app-header>
<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/quito.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Pichincha, Quito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Home SudaméricaViajar por Ecuador 10 cosas que ver y hacer en Quito
      Viajar por Ecuador
      10 cosas que ver y hacer en Quito
      escrito por Vero Boned 24 enero 2018
      
      San Francisco de Quito –el nombre oficial de la capital ecuatoriana- es una de esas ciudades a las que hay que dedicarle bastante tiempo para degustar todos sus atractivos. A más de 2.800 m.s.n.m, la que está considerada una de las ciudades coloniales mejor conservadas de América Latina y catalogada hoy como Patrimonio Cultural de la Humanidad    </ion-card-content>
  </ion-card>
  
</ion-content>